<form action="/add" method="POST">
  <label>Título: </label><br>
  <input type="text" name="titulo"><br>
  <label>Conteúdo</label><br>
  <textarea name="conteudo"></textarea><br>
  <button type="submit">Cadastrar postagem</button type="submit">
</form>